<div class="container-fluid">
  <h2>New Product</h2>
  <div class="row">
    <div class="col-md-10">
      <form role="form">
        <div class="row">
          <div class="form-group col-lg-5">

            <label for="productId">
              Product Id
            </label>
            <input type="email" class="form-control" id="productId" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-5">

            <label for="productName">
              Product Name
            </label>
            <input type="text" class="form-control" id="productName" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-5">

            <label for="price">
              Product Price
            </label>
            <input type="range" min="100" max="100000" class="form-control" id="price" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-5">

            <label for="imgUrl">
              Image Url
            </label>
            <input type="text" class="form-control" id="imgUrl" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>