<div class="container-fluid">
  <h2>Product Details</h2>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-xs-4 item-photo">
          <img width="300px" height="300px" [src]="product._image" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <h5 style="color:#337ab7">{{product._productName}}
          </h5>
          <h6 class="title-price">
            <small>Price</small>
          </h6>
          <h3 style="margin-top:0px;">U$S product._price</h3>
        </div>
      </div>

    </div>
  </div>
  <button type="button" (click)='onBack($event)'>Back</button>
</div>